<div class="ui dimmer zoomInDown animated" [ngClass]="{'active': Valid}">
  <div class="ui huge text loader">Cargando...</div>
</div>
<div class="ui fixed menu inverted">
  <div class="item">
    <div class="ui labeled button" (click)="SideBar()">
      <div class="ui violet button">
        Perfil
      </div>
      <div class="ui basic violet left pointing label">
        <i class="user circle large icon"></i>
      </div>
    </div>
  </div>
  <div class="right item">
    <div class="ui icon input">
      <input type="text" placeholder="Buscar Usuarios">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui vertical sidebar push menu inverted">
  <div class="item">
    <img class="ui small centered circular image" [src]="User.Foto">
    <div class="ui divider"></div>
  </div>
  <div class="item">
    <i class="large icon heartbeat"></i> Seguidos
    <div class="ui violet left pointing label">{{User.Seguidos}}</div>
  </div>
  <div class="item">
    <i class="large icon star"></i> Seguidores
    <div class="ui violet left pointing label">{{User.Seguidores}}</div>
  </div>
  <div class="item">
    <button class="ui violet button fluid">
      <i class="large icon image"></i>
      Cambiar Imagen
    </button>
    <div class="ui divider"></div>
    <button class="ui violet button fluid">
      <i class="large icon user"></i>
      Cambiar Nombre
    </button>
    <div class="ui divider"></div>
    <button class="ui violet button fluid">
      <i class="large icon sign out"></i>
      Cerrar Sesión
    </button>
    <div class="ui divider"></div>
    <button class="ui inverted red button fluid">
      <i class="large icon remove"></i>
      Borrar Cuenta
    </button>
  </div>
</div>
<div class="pusher">
  <div class="ui grid two column">
    <div class="nine wide column">
      <app-usuarios></app-usuarios>
    </div>
    <div class="seven wide column">

    </div>
  </div>
</div>