<div class="scroll" [ngStyle]="{'height': height}">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
    <img class="ui fluid image" src="http://iconbug.com/data/bd/512/f329adad1100d9608c26b3f072aa016f.png">
  </div>
