<div class="ui dimmer zoomInDown animated" [ngClass]="{'active': Usuario.Valid}">
  <div class="ui huge text loader">Cargando...</div>
</div>
<div class="ui one column centered stackable grid container zoomIn animated">
  <div class="column center aligned">
    <div class="row">
      <img src="../../../assets/icon.png"
        class="ui medium image centered">
      <div class="ui divider"></div>
    </div>
    <div class="row">
      <form class="ui large form" onsubmit="return false">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input type="text" name="Email" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input class="ui violet text" type="password" name="Password" placeholder="Contraseña">
            </div>
          </div>
          <div class="ui fluid large violet submit button" (click)="Login()">Login</div>
          <div class="ui error floating message bounceIn animated"></div>
        </div>
      </form>
      <div class="ui divider"></div>
    </div>
    <div class="row">
      <div class="ui message">
        ¿Nuevo?
        <a routerLink="/Registrar">Registra</a>
      </div>
      <button class="ui inverted violet basic button transparent">Recuperar Contraseña</button>
    </div>
  </div>
</div>