<div class="ui dimmer zoomInDown animated" [ngClass]="{'active': Valid}">
  <div class="ui huge text loader">Cargando...</div>
</div>
<div class="ui one column centered stackable grid container zoomIn animated">
  <div class="eleven wide column center aligned">
    <div class="row">
      <img src="../../../assets/icon.png"
        class="ui small image centered">
      <div class="ui divider"></div>
    </div>
    <div class="row">
      <form class="ui large form" onsubmit="return false">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="Nombre" placeholder="Nombre" [(ngModel)]="Usuario.Nombre">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input type="text" name="Email" placeholder="Email" [(ngModel)]="Usuario.Email">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input class="ui violet text" type="password" name="Password" placeholder="Contraseña" [(ngModel)]="Usuario.Password">
            </div>
          </div>
          <div class="ui fluid large violet submit button" (click)="Registrar()">Registrar</div>
          <div class="ui error floating message bounceIn animated"></div>
        </div>
      </form>
      <div class="ui divider"></div>
    </div>
    <div class="row">
      <div class="ui message">
        <a routerLink="/Login">Cancelar</a>
      </div>
    </div>
  </div>
</div>